@import url(https://fonts.googleapis.com/css2?family=Oswald:wght@100;200;300;400;500;600;700&display=swap);


:root {
    --main-light: #e1bb80;
    --main-dark: #352208;
}

body {
    font-family: 'Oswald', sans-serif;
    background: var(--main-dark);
    color: var(--main-light);
    touch-action: manipulation;
    user-select: none;
    -webkit-user-select: none;
    padding: 5px;
}

h2 {
    width: 100%;
}

.goToAbalytics {
    position: fixed;
    top: 25px;
    right: 25px;
    display: none;
}

a {
    text-decoration: none;
    color: var(--main-light);
}

.section {
    display: none;
}

.active {
    display: block;
}

#allTeachersList, #allStudents {
    user-select: all;
    -webkit-user-select: auto;
}


canvas {
    max-width: 330px;
    max-height: 600px;
    margin: 20px 0;
  }


#navAnalytics button {
    width: 45%;
    height: 60px;
}

#logIn {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
}

input:not(#select-sub input, #form input),
button,
select {
    width: 300px;
    height: 40px;
    background: var(--main-dark);
    border: 3px solid var(--main-light);
    border-radius: 100px;
    padding: 0 20px;
    box-sizing: border-box;
    color: var(--main-light);
    margin-top: 15px;
}

input::placeholder {
    color: var(--main-light);
}

#addTeacher {
    display: flex;
    align-items: center;
    flex-direction: column;
    border-top: var(--main-light) 3px dashed;
    border-bottom: var(--main-light) 3px dashed;
    height: 40vh;
}

#select-sub,
#form {
    border-bottom: var(--main-light) 3px dashed;
    margin-top: 50px;
}

#subject,
#classes {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;

}

#select-sub label {
    display: flex;
    box-sizing: border-box;
    align-items: center;
    width: 172px;
    height: 40px;
    background: var(--main-dark);
    color: var(--main-light);
    border-radius: 5px;
    gap: 10px;
    box-shadow: 0 0 5px 1px var(--main-light);

}

#classes label {
    display: flex;
    box-sizing: border-box;
    align-items: center;
    width: 60px;
    height: 40px;
    background: var(--main-dark);
    color: var(--main-light);
    border-radius: 5px;
    gap: 10px;
    box-shadow: 0 0 5px 1px var(--main-light);
}






/*
h1,
h2,
h3 {
    color: var(--main-light);
}

input,
select,
button {
    margin: 5px;
    padding: 5px;
}

#classes {
    max-height: 200px;
    overflow-y: auto;
}