@import url(https://fonts.googleapis.com/css2?family=Oswald:wght@100;200;300;400;500;600;700&display=swap);


:root {
    --main-light: white;
    --main-dark: #333;
}

body {
    font-family: 'Oswald', sans-serif;
    background: var(--main-dark);
    color: var(--main-light);
    touch-action: manipulation;
    user-select: none;
    -webkit-user-select: none;
    padding: 5px;
}

h2 {
    width: 100%;
}

.goToAnalytics {
    position: fixed;
    top: 25px;
    right: 25px;
    display: none;
}

a {
    text-decoration: none;
    color: var(--main-light);
}

.section {
    display: none;
}

.active {
    display: block;
}

#allTeachersList, #allStudents {
    user-select: all;
    -webkit-user-select: auto;
}


canvas {
    max-width: 330px;
    max-height: 600px;
    margin: 20px 0;
  }


#navAnalytics button {
    width: 45%;
    height: 60px;
}

#logIn {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
}

input:not(#select-sub input, #form input),
button,
select {
    width: 300px;
    height: 40px;
    background: var(--main-dark);
    border: 3px solid var(--main-light);
    border-radius: 100px;
    padding: 0 20px;
    box-sizing: border-box;
    color: var(--main-light);
    margin-top: 15px;
}

input::placeholder {
    color: var(--main-light);
}

#addTeacher {
    display: flex;
    align-items: center;
    flex-direction: column;
    border-top: var(--main-light) 3px dashed;
    border-bottom: var(--main-light) 3px dashed;
    height: 40vh;
}

#select-sub,
#form {
    border-bottom: var(--main-light) 3px dashed;
    margin-top: 50px;
}

#subject,
#classes {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;

}

#select-sub label {
    display: flex;
    box-sizing: border-box;
    align-items: center;
    width: 172px;
    height: 40px;
    background: var(--main-dark);
    color: var(--main-light);
    border-radius: 5px;
    gap: 10px;
    box-shadow: 0 0 5px 1px var(--main-light);

}

#classes label {
    display: flex;
    box-sizing: border-box;
    align-items: center;
    width: 60px;
    height: 40px;
    background: var(--main-dark);
    color: var(--main-light);
    border-radius: 5px;
    gap: 10px;
    box-shadow: 0 0 5px 1px var(--main-light);
}

#notification {
    position: fixed;
    top: 80px;
    right: -300px;
    width: 250px;
    padding: 15px;
    background-color: #28a74688;
    color: white;
    font-size: 16px;
    font-weight: 600;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: right 0.5s ease-in-out;
    z-index: 1000;
}

#notification.error {
    background-color: #dc354682;
}

#notification.show {
    right: 20px;
}

#progressBar {
    width: 100%;
    height: 5px;
    background-color: rgba(255, 255, 255, 0.3);
    margin-top: 10px;
    border-radius: 3px;
    overflow: hidden;
}

#progress {
    width: 100%;
    height: 100%;
    background-color: white;
    animation: progress 3s linear forwards;
}

@keyframes progress {
    from {
        width: 100%;
    }

    to {
        width: 0;
    }
}



